*{

    margin: 0;
  
    padding:0;
  
  
  
    margin: 0px;
  
    padding: 0px;
  
    box-sizing: border-box;
  
  }
  
  div{
  
    width: 200px;
  
    height: 200px;
  
    background: pink;
  
    border:5px ridge black;
  
    box-shadow: -5px 5px 5px darkblue;
  
    margin:100px;
  
    padding: 50px;
  
  }
  
   #c1{
  
    width: 200px;
  
    height: 200px;
  
    background-color: #b3d5a4;
  
    border:7px hidden black;
  
    box-shadow: 1px 5px 5px darkred;
  
    margin:100px;
  
    padding: 50px;
  
    
  
  }
  
   #c2{
  
    width: 200px;
  
    height: 200px;
  
    background-color: #FAB;
  
    border:7px dashed black;
  
    box-shadow: 5px 5px 5px red;
  
    margin:100px;
  
    padding: 50px;
  
    
  
  }
  
   #c3{
  
    width: 200px;
  
    height: 200px;
  
    background: skyblue;
  
    border:7px solid black;
  
    box-shadow: 5px 5px 45px darkblue;
  
    margin:100px;
  
    padding: 100px;
  
    
  
  }
  
   #c4{
  
    width: 200px;
  
    height: 200px; 
  
    background: 90% rgb(30, 20, 100);
  
    border:7px double black;
  
    box-shadow: 5px 5px 5px orangered;
  
    margin:100px;
  
    padding: 50px;
  
    
  
  }
  
   #c5{
  
    width: 200px;
  
    height: 200px;
  
    background:90% rgba(10, 20, 50, 0.5);
  
    border:7px dotted rgb(28, 34, 197);
  
    box-shadow: 5px 5px 5px seagreen;
  
    margin:100px;
  
    padding: 60px;
  
    
  
  }
  
   #c6{
  
    width: 200px;
  
    height: 200px;
  
    background:45% rgba(100%, 10%, 0%, 1);
  
    border:7px groove black;
  
    box-shadow: 5px 5px 5px peachpuff;
  
    margin:100px;
  
    padding: 50px;
  
    
  
  }
  
  
  
   #c7{
  
    width: 200px;
  
    height: 200px;
  
    background: linear-gradient(rgb(205, 55, 55) 50%,rgb(212, 139, 139) 25%,green 25%);
  
    border:7px ridge black;
  
    box-shadow: -59px 5px 59px azure;
  
    margin:100px;
  
    padding: 50px;
  
    
  
  }
  
   #c8{
  
    width: 200px;
  
    height: 200px;
  
    background:50% linear-gradient( rgb(20, 202, 102) 0%,rgb(116, 23, 159) 50%,red 100%);
  
    border:7px dashed red;
  
    box-shadow: 5px 5px 75px palevioletred;
  
    margin:100px;
  
    padding: 50px;
  
    
  
  }
  
   
  
   #c9{
  
    width: 200px;
  
    height: 200px;
  
    background-color: hsl(248, 59%, 65%);
  
    border:7px ridge black;
  
    box-shadow: 5px 100px 5px lightcoral;
  
    margin:100px;
  
    padding: 70px;
  
    
  
  }