.row {
    min-height: 300px;
    position: relative;
    margin-bottom: 20px;
  }
  
  .square {
    display: inline-block;
    width: 200px;
    height: 200px;
    border-radius: 100%;
    background: red;
    color: white;
    font-size: 22px;
  }
  
  /* Start of animations */
  
  .slide {
    position: absolute;
    animation: slide 4s infinite linear;
  }
  
  @keyframes slide {
    from {
      transform: translate(0, 0);
    }
    to {
      transform: translate(100%, 0);
    }
  }
  
 
  .rotate {
    animation: rotate 4s infinite linear;
  }
  
  @keyframes rotate {
    0% {
      transform: rotate(0);
    }
    100% {
      transform: rotate(360deg);
    }
}