div{

    width: 200px;
  
    height: 200px;
  
    background: black;
  
    border:5px ridge black;
  
    box-shadow: -5px 5px 5px darkblue;
  
    margin:100px;
  
    padding: 50px;
  
  }
  
   #c1{
  
    width: 200px;
  
    height: 200px;
  
    background: white;
  
    border:7px hidden black;
  
    box-shadow: 55px 5px 5px darkred;
  
    margin:100px;
  
    padding: 50px;
  
    
  
  }
  
   #c2{
  
    width: 200px;
  
    height: 200px;
  
    background: red;
  
    border:7px dashed black;
  
    box-shadow: -35px 55px 5px red;
  
    margin:100px;
  
    padding: 50px;
  
    
  
  }
  
   #c3{
  
    width: 200px;
  
    height: 200px;
  
    background: violet;
  
    border:7px solid black;
  
    box-shadow: -0px 5px 45px darkblue;
  
    margin:100px;
  
    padding: 100px;
  
    
  
  }
  
   #c4{
  
    width: 200px;
  
    height: 200px;
  
    background: orangered;
  
    border:7px double black;
  
    box-shadow: 75px 55px 5px orangered;
  
    margin:100px;
  
    padding: 50px;
  
    
  
  }
  
   #c5{
  
    width: 200px;
  
    height: 200px;
  
    background: greenyellow;
  
    border:7px dotted black;
  
    box-shadow: -95px 5px 5px seagreen;
  
    margin:100px;
  
    padding: 60px;
  
    
  
  }
  
   #c6{
  
    width: 200px;
  
    height: 200px;
  
    background: papayawhip;
  
    border:7px groove black;
  
    box-shadow: -5px 95px 5px peachpuff;
  
    margin:100px;
  
    padding: 50px;
  
    
  
  }
  
  
  
   #c7{
  
    width: 200px;
  
    height: 200px;
  
    background: azure;
  
    border:7px ridge black;
  
    box-shadow: -59px 5px 59px azure;
  
    margin:100px;
  
    padding: 50px;
  
    
  
  }
  
   #c8{
  
    width: 200px;
  
    height: 200px;
  
    background: rebeccapurple;
  
    border:7px dashed red;
  
    box-shadow: -5px 5px 75px palevioletred;
  
    margin:100px;
  
    padding: 50px;
  
    
  
  }
  
   
  
   #c9{
  
    width: 200px;
  
    height: 200px;
  
    background: coral;
  
    border:7px ridge black;
  
    box-shadow: -5px 100px 5px lightcoral;
  
    margin:100px;
  
    padding: 70px;
  
    
  
  }